<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_number %>
    <%= form.number_field :team_number %>
  </div>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.number_field :section_id %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name %>
  </div>

  <div class="field">
    <%= form.label "Add Team Members" %><br />
    <%= form.collection_check_boxes :user_ids, User.all, :id, :first_name do |box| %>
      <div class="collection-check-box">
        <%= box.check_box %>
        <%= box.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
