<p id="notice"><%= notice %></p>

<p>
  <strong>Team number:</strong>
  <%= @team.team_number %>
</p>

<p>
  <strong>Section:</strong>
  <%= @team.section_id %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @team.project_id %>
</p>

<p>
  <strong>Team members:</strong>
  <ul>
    <% for user in User.all %>
      <% if user.team_number == @team.team_number %>
        <li><%= user.first_name + " " + user.last_name %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
