<p id="notice"><%= notice %></p>

<div class="panel panel-info">
<div class="panel-heading"> <h3>TEAMS</h3></div>
<div class="panel-body">
<p>
  <strong>Team number:</strong>
  <%= @team.team_number %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Project(s):</strong>
  <ul>
    <% for project in @team.projects %>
      <li><%= project.p_name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Team members:</strong>
  <% @team.user_ids.each do |id| %>
    <%= User.find(id).first_name %>
  <% end %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
