<%= form_with(model: @comment) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator %>
    <% if current_user %>
        <%= form.text_field :creator, value: current_user.email_address%>
    <% else %>
        <%= form.text_field :creator %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :recipient %>
    <%= form.select(:recipient, options_from_collection_for_select(User.where(team_number: current_user.team_number), :email_address, :email_address)) %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.select(:project_id, options_from_collection_for_select(Project.all, :p_number, :p_name)) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>