<%= form_with(model: score) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator %>
    <% if current_user %>
        <%= form.text_field :creator, value: current_user.email_address%>
    <% else %>
        <%= form.text_field :creator %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :recipient %>
    <%= form.select(:recipient, options_from_collection_for_select(User.all, :email_address, :email_address)) %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.select(:project_id, options_from_collection_for_select(Project.all, :p_number, :p_name)) %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
