<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card" style="width: 40rem;">
<div class="col d-flex justify-content-center">
  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <br><br><%= form.label :email_address %>
        <%= form.text_field :email_address %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
    </div>  
  </div>

  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label :password_confirmation, "Confirmation" %>
        <%= form.password_field :password_confirmation %>
      </div>
    </div>  
  </div>


  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>
    </div>  
  </div>

  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>
    </div>  
  </div>


  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label :admin %>
        <%= form.check_box :admin %>
      </div>
    </div>  
  </div>


  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <%= form.label "Join Sections" %><br />
        <%= form.collection_check_boxes :course_ids, Course.all, :id, :course_id do |box| %>
          <div class="collection-check-box">
            <%= box.check_box %>
            <%= box.label %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>

  <div class="actions">
  <div class="field">
    <div class="row">
      <div class="d-flex justify-content-center text-center">
        <% if !logged_in? %>
          <%= link_to 'Back', root_path, class: "btn btn-primary" %>
        <%end%>
        <% if logged_in? %>
          <%= link_to 'Back', @user, class: "btn btn-primary" %>
        <%end%>
        <%= form.submit class: "btn btn-primary" %><br><br>
      </div>
    </div>
  </div>  
<% end %>

</div>
</div>