<p id="notice"><%= notice %></p>

 <div class="page-header">
  <h1 class="well well-lg profile-text"> My Projects </h1>
</div><br><br>

<% if has_projects? %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <p>
    <% current_user.teams.each do |team| %>
      <% team.projects.each do |project| %>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= project.p_name.delete(' ') %><%= project.p_number %>" 
        aria-expanded="false" aria-controls="<%= project.p_name.delete(' ')  %><%= project.p_number %>"><%= project.p_name %></button>
      <% end %>
    <% end %>
</p>
<div class="row">
  <% current_user.teams.each do |team| %>
    <% team.projects.each do |project| %>
      <div class="col">
        <div class="collapse multi-collapse" id="<%= project.p_name.delete(' ')  %><%= project.p_number %>">
          <div class="card card-body">
            <%= link_to "View Comments", "/comments?p=" + project.id.to_s %>
            <br>
            <% if project.scores.size > 0 %>
              Score: <% for score in project.scores %>
                      <%= score.score.to_s if score.recipient == current_user.email_address %></li>
                     <% end %>
            <% else %>
              No Scores Yet!
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No Projects Assigned</p>
<% end %>
