<p id="notice"><%= notice %></p>

 <div class="page-header">
  <h1 class="well well-lg profile-text"> My Sections </h1>
</div><br><br>

<p>
  <strong>Section(s):</strong>
  <% current_user.courses.each do |course| %>
    <%= course.course_id %>
  <% end %>
</p>

<p> Join a Section </p>
<ul>
    <%= form_with(url: user_add_user_to_section_url, local: true) do |f| %>
        <%= f.label "Section Number" %>
        <%= f.text_field :course_id %>
        <br>
        <%= f.submit "Join Section", class: "btn btn-primary" %>
    <% end %>
</ul>
