<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Section(s):</strong>
  <ul>
    <% for section in @user.courses %>
      <li><%= section.course_id %></li>
    <% end %>
  </ul>
</p>

<p> Join Section: </p>
<%= form_with(url: user_add_user_to_section_url, local: true) do |f| %>
  <%= f.label :course_id %>
  <%= f.select :course_id, Course.all.map { |s| [s.course_id, s.id] }, {}, { class: 'form-control' } %>
  <%= f.hidden_field :email_address, value: @user.email_address %>
  <br>
  <%= f.submit "Join Section", class: "btn btn-primary" %>
<% end %>


<p>
  <strong>Team(s):</strong>
  <ul>
    <% for team in @user.teams %>
      <li><%= team.team_name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
