<p id="notice"><%= notice %></p>

 <div class="page-header">
  <% if current_user.id == @user.id %>
    <p class="text-right"><%= link_to 'Edit My Profile', edit_user_path(@user), class: "btn btn-secondary" %> </p>
  <% end %>
  <h1 class="well well-lg profile-text"> <%= @user.first_name %> <%=  @user.last_name %></h1>
  <h2> My Profile </h2>
</div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:darkseagreen;">
      <h4 class="text-center">
      <strong>First Name:</strong>
      <%= @user.first_name %>
      </h4>
    </div>
    <div class="col-sm-4" style="background-color:darkseagreen;">
      <h4 class="text-center">
      <strong>Last Name:</strong>
      <%= @user.last_name %>
      </h4>
    </div>
    <div class="col-sm-4" style="background-color:darkseagreen;">
      <h4 class="text-center">
      <strong>Email Address:</strong>
      <%= @user.email_address %>
      </h4>
    </div>
  </div>
</div> <br><br>

<div class="panel panel-info">
  <div class="panel-heading"><strong>Your Section(s):</strong></div>
  <div class="panel-body">
    <ul>
      <% for section in @user.courses %>
        <li><%= section.course_id %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><strong>Your Team(s):</strong></div>
  <div class="panel-body">
    <p> 
    <ul>
    <% for team in @user.teams %>
      <li><%= team.team_name %></li>
    <% end %>
    </ul>
    </p>
  </div>
</div>




