<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :p_number %>
    <%= form.number_field :p_number %>
  </div>

  <div class="field">
    <%= form.label :p_name %>
    <%= form.text_field :p_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
