<!DOCTYPE html>
<html>
  <head>
    <title>DOGYOU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>


  <body>
    <% if !logged_in? %>
      <%= render 'layouts/signup_header' %>
    <% end %>

    <% if logged_in? && !admin? %>
      <%= render 'layouts/users_header' %>
    <% end %>
    
    <% if logged_in? && admin? %>
      <%= render 'layouts/admin_header' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
